<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lesgens.minou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.lesgens.minou.application.MinouApplication"
        android:allowBackup="true"
        android:icon="@drawable/minou_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.lesgens.minou.SplashscreenActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lesgens.minou.ChatActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="@string/title_activity_public_chat" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_activity_connect_facebook"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.lesgens.minou.ImageViewerActivity"
            android:label="@string/title_activity_image_viewer" >
        </activity>
        <activity
            android:name="com.lesgens.minou.AddAChannelActivity"
            android:configChanges="orientation|keyboard|screenSize" >
        </activity>
        <activity
            android:name="com.lesgens.minou.HomeActivity"
            android:configChanges="orientation|keyboard|screenSize" >
        </activity>
        <activity android:name="com.lesgens.minou.ChannelSettingsActivity" >
        </activity>
        <activity android:name="com.desmond.squarecamera.CameraActivity"></activity>
        <activity
            android:name="com.lesgens.minou.PlayVideoActivity"
            android:configChanges="orientation|keyboard|screenSize" >
        </activity>
    </application>

</manifest>